body{
    background-color:#ddfddd;
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow:scroll;
  }
  #header{
    display:grid;
    grid-template-columns:3fr 2fr;
  }
  #header-img{
    width:35%;
  margin-left:5%;
  }
  .nav-link{
    text-decoration:none;
    color:black;
    margin-top: 30px;
    margin-left: 6%;
    font-size:2rem;
    font-family:sans-serif;
  }
  #head{
    font-size:1.8rem;
    font-weight:bold;
    margin-top:2%;
    text-align:center;
  }
  
  
  #form{
  display:block;
    text-align:center;
  }
  #email, #submit{
  display:block;
  margin:auto;
  }
  #submit{
    margin-top:1%;
    background-color:orange;
    width:10%;
    height:2vw;
    font-weight:bold;
    font-size:22px;
    border:none;
    border-radius:50px;
  }
  #email{
    width:20%;
    height:2vw;
  }
  #materials{
   display:flex;
    width:40%;
    height:30vw;
    margin:auto;
    flex-direction:column;
    align-items:center;
    margin-top:5%;
  }
  .mats{
    font-weight:bold;
  }
  #icon{
    float:left;
    margin-right:2rem;
    margin-left:-10%;
    margin-top:4%;
    color:orange;
  }
  .desc{
    font-weight:200;
    margin-top:-2%;
  }
  
  #video{
  margin-top:-10%;
    text-align:center;
  }
  #pricing{
    
  display:flex;
    width:60%;
    min-width:30%;
    max-width:80%;
    justify-content:center;
  }
  .price{
    margin-top:5%;
    width:20%;
    border:1px solid black;
    margin-left:5%;
    text-align:center;
    padding:2% 2%;
    background-color:white;
  }
  .parent{
    width:100%;
    display:flex;
    justify-content:center;
    
  }
  .table-header{
    width:120%;
  margin-left:-10%;
    padding-top:5%;
    padding-bottom:5%;
    margin-top:-10%;
    text-align:center;
    background-color:lightgray;
    font-weight:600;
  }
  .tromb-price{
    font-size:1.1rem;
    font-weight:bold;
  }
  #select{
    width:60%;
    height:15%;
    background-color:orange;
    border:none;
    border-radius:20px;
  }
  #footer{
    margin:0 auto;
    width:50%;
    
   
  }
  .foot{
     margin-left:2%;
    text-decoration:none;
    color:black;
  }
  
  ul{
    display:flex;
    justify-content:flex-end;
  }
  span{
    display:flex;
    justify-content:end;
  }